<div class="container">
   <div class="form-group">
      <h1>OFFICE MANAGEMENT DASHBOARD</h1>
      <% if policy([:admin, :admin]).new? %>
         <%= link_to 'New Employee +', new_admins_admin_path, class: "btn btn-primary" %>
         <% end %>
    </div>
   <div class="form-group">
     <h2>ALL EMPLOYEE DETAILS</h2>
       <table class="table table-striped table-hover table-bordered">
    </div>
    <div class="col-sm-4">
      <%= render  "layouts/search_form", address: admins_admins_path, id: "admin" %>
    </div>
  <thead>
   <tr>
    <th scope="col">First_Name</th>
    <th scope="col">Last_Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone_no</th>
    <th scope="col">Role</th>
    <th colspan="3" class="text-center">Actions</th>
   </tr>
 </thead>
 <tbody>
    <% @admins.each do |admin| %>
    <tr>
    <td><%= admin.first_name %></td>
    <td><%= admin.last_name %></td>
    <td><%= admin.email %></td>
    <td><%= admin.phone_no %></td>
    <td><%= admin.role&.name %></td>
    <% if policy([:admin, :admin]).show? %>
    <td><%= link_to 'show', admins_admin_path(admin), class: "btn btn-info"%></td>
    <% end %>
    <% if policy([:admin, :admin]).edit? %>
    <td><%= link_to 'Edit', edit_admins_admin_path(admin), class: "btn btn-warning"%></td>
    <% end %>
    <% if policy([:admin, :admin]).destroy? %>
    <td><%= button_to 'Delete', admins_admin_path(admin), method: :delete, data:{ confirm: 'are you sure' }, class: "btn btn-danger"%> </td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
    </table>
    <div>
      <%= will_paginate @admin , renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
</div>
