<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                 <td><%= link_to 'Home', admins_admins_path, class: "btn btn-primary"%> </td>
                  </li><br>
            <li>
                 <td><%= link_to 'Roles', admins_roles_path, class: "btn btn-primary"%> </td>
            </li><br>
            <li>
                 <td><%= link_to 'Projects', admins_projects_path, class: "btn btn-primary"%> </td>      
            </li><br>
            <li>
                 <td><%= link_to 'Attendance',  admins_attendances_path, class: "btn btn-primary"%> </td>
            </li><br>
            <li>
            <td><%= link_to 'Leaves', admins_holidays_path, class: "btn btn-primary"%> </td>
            </li><br>
            <td><%= button_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-danger"%>
        </ul>
    </div>
</div>
